*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table, thead, th, tr, td{
    border: 3px solid #ccc;
    margin: 50px auto;
}
thead, th, tr, td{
    border: 3px solid #ccc;
    padding: 20px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
.table{
    margin: 5px;
}